
body {
  background-color: Black;
  font-family: Veranda;
  text-align: center;
}
h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}
a {
  color: Aquamarine;
  font-size: 16px;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: White;
}
p {
  font-size: 21px;
  color: Gray;
}
footer {
  color: Gray;
  text-align: right;
}
